{
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "root": true,  
  "rules": {
    "no-dupe-keys": "error",
    "no-dupe-args": "error",
    "no-compare-neg-zero": "error",
    "for-direction": "error",
    "no-mixed-operators": [
      "warn", { "groups": [["==", "!=", "===", "!==", ">", ">=", "<", "<="]] }
    ]
  }
}
